{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Header Start -->
<div class="container-fluid page-header">
  <div class="container">
      <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 400px">
          <h3 class="display-4 text-white text-uppercase">Password Reset</h3>
          <div class="d-inline-flex text-white">
              <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'index' %}">Home</a></p>
              <i class="fa fa-angle-double-right pt-1 px-3"></i>
              <p class="m-0 text-uppercase">Password Reset</p>
          </div>
      </div>
  </div>
</div>
<!-- Header End -->

<div class="container pb-5 mt-5">
    <div class="row">
        <div class="col-md-12">
            <br>
            <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
            <form action="" method="post">
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
                </div>
                <button type="submit" class="btn btn-primary">Send Email</button>
            </form>
        </div>
    </div>
</div>
<br><br>
{% endblock %}
